table {
    width: 90%;
  }
  td {
    width: 20%;
    position: relative;
  }
  td:after {
    content: '';
    display: block;
    margin-top: 100%;
  }
  td .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: gold;
    text-align: center;
    font-size: 30px;
  }

  /* Use this marker when you're at a cell but not necessarily selecting it */
  .passing {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px solid red;
  }

  /* Use this marker when you've just selected a cell. */
  .select {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 6px solid blue;   
  }

  .center {
      margin-left: auto;
      margin-right: auto;
  }
  
  .square {
    width: 50%;
  }
  
  .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
